body {
    padding-top: 65px;
}
.error{
    display: none;
}

.successAlert{
    display: none;
}

.nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
}