<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/all.css" rel="stylesheet">

    <link href="/webjars/font-awesome/5.10.1/css/all.css" rel="stylesheet">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse mt-1 mb-1 col-2" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto col-1">
                <a class="navbar-brand" th:href="@{/}">Cantor</a>
            </div>
        </div>
    </div>
    <div class="col-9 text-right text-white mr-2" th:text="'Logged as ' + ${name}">Logged as</div>
    <div class="navbar-nav col-1">
        <div>
            <a th:href="@{/settings}"><i class="fas fa-cog fa-2x text-white mr-3"></i></a>
            <a th:href="@{/logout}"><i class="fas fa-power-off fa-2x text-white"></i></a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row mt-2">
        <!-- Modal -->
        <div class="modal fade" id="accept-modal" tabindex="-1" role="dialog" aria-labelledby="accept-modal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Accept action</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="offset-2 col-8">
                                <div class="well">
                                    <h4>You are going to <b id="actionType">BUY</b>:</h4>
                                    <p></p>
                                    <h3><b id="currencyAmount">0</b> <b id="selectedCurrency">USD</b></h3>
                                    <h3> for </h3>
                                    <h3><b id="cost">0</b> PLN</h3>
                                    <hr class="my-3">
                                    <div class="row">
                                        <div id="pricesChangedError" class="alert alert-danger error">
                                            Prices have changed. Disabling the option to buy. Please try again.
                                        </div>
                                        <div id="actionError" class="alert alert-danger error">
                                            Error occurred while processing the transaction. Please try again.
                                        </div>
                                        <div id="successTransactionAlert" class="alert alert-success successAlert">
                                            Transaction has been completed successfully.
                                        </div>
                                        <div class="col-6 form-group">
                                            <button id="acceptAction" type="button"
                                                    class="btn btn-success col-8 text-center form-control float-left">Accept</button>
                                        </div>
                                        <div class="col-6 form-group">
                                            <button id="declineAction" type="button"
                                                    class="btn btn-danger col-8 text-center form-control float-right"
                                                    data-toggle="modal" data-target="#accept-modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of modal-->
        <h1 class="col-12 text-center">Dashboard</h1>
        <div id="connectionError" class="alert alert-danger connectionError col-12 disabled">
            Error occurred while connecting to outside server. Please try again later or refresh the page.
        </div>
        <div class="offset-1 col-5">
            <h5 id="lastUpdate">Last Update: 18:54 25-08-2019</h5>
        </div>
        <div class="col-12 row">
            <div class="col-5 offset-1">
                <h2 class="text-center">Currencies</h2>
                <div class="col-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Available</th>
                            <th scope="col">Buy Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-center" scope="row">USD</th>
                            <td id="USDBuyUnits"></td>
                            <td id="USDCantorWalletAmount"></td>
                            <td id="USDBuyPrice"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="USDBuyAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="buyUSD" type="button"
                                            class="btn btn-success col-4 text-center form-control float-right buy-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="usd">Buy</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">EUR</th>
                            <td id="EURBuyUnits"></td>
                            <td id="EURCantorWalletAmount"></td>
                            <td id="EURBuyPrice"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="EURBuyAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="buyEUR" type="button"
                                            class="btn btn-success col-4 text-center form-control float-right buy-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="eur">Buy</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">CHF</th>
                            <td id="CHFBuyUnits"></td>
                            <td id="CHFCantorWalletAmount"></td>
                            <td id="CHFBuyPrice"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="CHFBuyAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="buyCHF" type="button"
                                            class="btn btn-success col-4 text-center form-control float-right buy-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="chf">Buy</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">RUB</th>
                            <td id="RUBBuyUnits"></td>
                            <td id="RUBCantorWalletAmount"></td>
                            <td id="RUBBuyPrice"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="RUBBuyAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="buyRUB" type="button"
                                            class="btn btn-success col-4 text-center form-control float-right buy-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="rub">Buy</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">CZK</th>
                            <td id="CZKBuyUnits"></td>
                            <td id="CZKCantorWalletAmount"></td>
                            <td id="CZKBuyPrice"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="CZKBuyAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="buyCZK" type="button"
                                            class="btn btn-success col-4 text-center form-control float-right buy-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="czk">Buy</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">GBP</th>
                            <td id="GBPBuyUnits"></td>
                            <td id="GBPCantorWalletAmount"></td>
                            <td id="GBPBuyPrice"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="GBPBuyAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="buyGBP" type="button"
                                            class="btn btn-success col-4 text-center form-control float-right buy-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="gbp">Buy</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5">
                <h2 class="text-center">My wallet</h2>
                <div class="col-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Sell Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Total Value</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-center" scope="row">USD</th>
                            <td id="USDSellPrice"></td>
                            <td id="USDWalletAmount"></td>
                            <td id="USDWalletValue"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="USDSellAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="sellUSD" type="submit"
                                            class="btn btn-success col-4 text-center form-control sell-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="usd">Sell</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">EUR</th>
                            <td id="EURSellPrice"></td>
                            <td id="EURWalletAmount"></td>
                            <td id="EURWalletValue"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="EURSellAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="sellEUR" type="button"
                                            class="btn btn-success col-4 text-center form-control sell-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="eur">Sell</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">CHF</th>
                            <td id="CHFSellPrice"></td>
                            <td id="CHFWalletAmount"></td>
                            <td id="CHFWalletValue"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="CHFSellAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="sellCHF" type="button"
                                            class="btn btn-success col-4 text-center form-control sell-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="chf">Sell</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">RUB</th>
                            <td id="RUBSellPrice"></td>
                            <td id="RUBWalletAmount"></td>
                            <td id="RUBWalletValue"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="RUBSellAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="sellRUB" type="button"
                                            class="btn btn-success col-4 text-center form-control sell-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="rub">Sell</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">CZK</th>
                            <td id="CZKSellPrice"></td>
                            <td id="CZKWalletAmount"></td>
                            <td id="CZKWalletValue"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="CZKSellAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="sellCZK" type="button"
                                            class="btn btn-success col-4 text-center form-control sell-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="czk">Sell</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">GBP</th>
                            <td id="GBPSellPrice"></td>
                            <td id="GBPWalletAmount"></td>
                            <td id="GBPWalletValue"></td>
                            <td>
                                <div class="col-12 row nopadding">
                                    <input id="GBPSellAmount" type="number" class="col-7 form-control mr-3" min="1">
                                    <button id="sellGBP" type="button"
                                            class="btn btn-success col-4 text-center form-control sell-btn"
                                            data-toggle="modal" data-target="#accept-modal" value="gbp">Sell</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5 offset-1">
                <div class="text-center h3 mt-2 mb-2" id="cantorFunds">Cantor available PLN: </div>
            </div>
            <div class="col-5 ">
                <div class="text-center h3 mt-2 mb-2" id="funds">Available PLN: </div>
            </div>
        </div>



    </div>
</div>

<script src="/webjars/jquery/3.1.0/jquery.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.js"></script>
<script src="/webjars/sockjs-client/1.0.2/sockjs.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>
